<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.synergy.auction.auction.goods.service.AuctionGoodsMapper">
	
<!-- 	<resultMap type="com.synergy.auction.auction.goods.service.AuctionGoodsDto" id="resultAuctionGoods"> 
		<result column="auction_goods_no" property="auctionGoodsNo"/> 
	</resultMap>  -->
	
	<resultMap id="bidSelectOne" type="com.synergy.auction.auction.goods.service.BidDto"> 
				<result column="user_id" property="userId"/> 
				<result column="auction_goods_no" property="auctionGoodsNo"/> 
				<result column="bid_price" property="bidPrice"/> 
				<result column="bid_date" property="bidDate"/> 
				<result column="bid_no" property="bidNo"/> 
	</resultMap> 
		
	<resultMap type="com.synergy.auction.auction.goods.service.AuctionGoodsDto" id="resultAuctionGoods"> 
		<result column="auction_goods_no" property="auctionGoodsNo"/>
		<result column="auction_goods_file_no" property="auctionGoodsFileNo"/>		 	 
		<result column="donation_plan_no" property="donationPlanNo"/>		 	 
		<result column="auction_state_no" property="auctionStateNo"/>		 	 
		<result column="user_id" property="userId"/>		 	 
		<result column="small_category_no" property="smallCategoryNo"/>		 	 
		<result column="auction_goods_min_price" property="auctionGoodsMinPrice"/>		 	 
		<result column="auction_goods_title" property="auctionGoodsTitle"/>		 	 
		<result column="auction_goods_content" property="auctionGoodsContent"/>		 	 
		<result column="auction_goods_instance_buy_price" property="auctionGoodsInstanceBuyPrice"/>		 	 
		<result column="auction_goods_name" property="auctionGoodsName"/>		 	 
		<result column="auction_goods_bid_unit" property="auctionGoodsBidUnit"/>		 	 
		<result column="auction_goods_date" property="auctionGoodsDate"/>		 	 
		<result column="auction_goods_pay_term" property="auctionGoodsPayTerm"/>		 	 
		<result column="auction_goods_bid_term" property="auctionGoodsBidTerm"/>		 	 
		<result column="auction_goods_bid_start_date" property="auctionGoodsBidStartDate"/>		 	 
		<result column="auction_goods_bid_end_date" property="auctionGoodsBidEndDate"/>		 	 
		<result column="auction_goods_hits" property="auctionGoodsHits"/>		 	 
		<collection property="file" ofType="com.synergy.auction.file.service.FileDto">	 
			<result column="file_name" property="fileName"/> 
			<result column="file_ext" property="fileExt"/> 
		</collection>			 
	</resultMap>

	<insert id="auctionGoodsInsert"
			parameterType="com.synergy.auction.auction.goods.service.AuctionGoodsDto">
			<selectKey resultType="Integer" 
						keyProperty="auctionGoodsNo"  
						order="AFTER"> 
			SELECT LAST_INSERT_ID() 
			</selectKey> 
			
		INSERT INTO auction_goods(
			auction_goods_file_no
			,donation_plan_no
			,auction_state_no
			,user_id
			,small_category_no
			,auction_goods_min_price
			,auction_goods_title
			,auction_goods_content
			,auction_goods_instance_buy_price
			,auction_goods_name
			,auction_goods_bid_unit
			,auction_goods_date
			,auction_goods_pay_term
			,auction_goods_bid_term
			,auction_goods_bid_start_date
			,auction_goods_bid_end_date
			,auction_goods_hits
		) VALUES (
			null
			,#{donationPlanNo}
			,'입찰전'
			,#{userId}
			,#{smallCategoryNo}
			,#{auctionGoodsMinPrice}
			,#{auctionGoodsTitle}
			,#{auctionGoodsContent}
			,#{auctionGoodsInstanceBuyPrice}
			,#{auctionGoodsName}
			,#{auctionGoodsBidUnit}
			,now()
			,3
			,3
			,null
			,null
			,0
		)
	</insert>

	<select id="auctionGoodsSelect" resultMap="resultAuctionGoods">
		SELECT 
			auction_goods.auction_goods_no
			,auction_goods.auction_goods_file_no
			,auction_goods.donation_plan_no
			,auction_goods.auction_state_no
			,auction_goods.user_id
			,auction_goods.small_category_no
			,auction_goods.auction_goods_min_price
			,auction_goods.auction_goods_title
			,auction_goods.auction_goods_content
			,auction_goods.auction_goods_instance_buy_price
			,auction_goods.auction_goods_name
			,auction_goods.auction_goods_bid_unit
			,auction_goods.auction_goods_date
			,auction_goods.auction_goods_pay_term
			,auction_goods.auction_goods_bid_term
			,auction_goods.auction_goods_bid_start_date
			,auction_goods.auction_goods_bid_end_date
			,auction_goods.auction_goods_hits
			,file.file_name
 			,file.file_ext
		FROM
			auction_goods
		JOIN
			file
		ON
			auction_goods.auction_goods_no = file.file_table_no AND 'auction_goods' = file.file_table_name
		WHERE 
			file.file_ext IN('jpg','png','jpeg')
	</select>	
	
	<select id="auctionGoodsSelectUser" resultMap="resultAuctionGoods">
		SELECT 
			auction_goods.auction_goods_no
			,auction_goods.auction_goods_file_no
			,auction_goods.donation_plan_no
			,auction_goods.auction_state_no
			,auction_goods.user_id
			,auction_goods.small_category_no
			,auction_goods.auction_goods_min_price
			,auction_goods.auction_goods_title
			,auction_goods.auction_goods_content
			,auction_goods.auction_goods_instance_buy_price
			,auction_goods.auction_goods_name
			,auction_goods.auction_goods_bid_unit
			,auction_goods.auction_goods_date
			,auction_goods.auction_goods_pay_term
			,auction_goods.auction_goods_bid_term
			,auction_goods.auction_goods_bid_start_date
			,auction_goods.auction_goods_bid_end_date
			,auction_goods.auction_goods_hits
			,file.file_name
 			,file.file_ext
		FROM
			auction_goods
		JOIN
			file
		ON
			auction_goods.auction_goods_no = file.file_table_no
		WHERE 
			user_id = #{userId}
	</select>	
	
	<select id="auctionGoodsSelectOne" parameterType="String" resultMap="resultAuctionGoods">
			SELECT 
			auction_goods.auction_goods_no
			,auction_goods.auction_goods_file_no
			,auction_goods.donation_plan_no
			,auction_goods.auction_state_no
			,auction_goods.user_id
			,auction_goods.small_category_no
			,auction_goods.auction_goods_min_price
			,auction_goods.auction_goods_title
			,auction_goods.auction_goods_content
			,auction_goods.auction_goods_instance_buy_price
			,auction_goods.auction_goods_name
			,auction_goods.auction_goods_bid_unit
			,auction_goods.auction_goods_date
			,auction_goods.auction_goods_pay_term
			,auction_goods.auction_goods_bid_term
			,auction_goods.auction_goods_bid_start_date
			,auction_goods.auction_goods_bid_end_date
			,auction_goods.auction_goods_hits
			,file.file_name
 			,file.file_ext
		FROM
			auction_goods
		JOIN
			file
		ON
			auction_goods.auction_goods_no = file.file_table_no
		WHERE 
			auction_goods_no=#{auctionGoodsNo} 
	</select>	
	
	<select id="bidSelectOne" parameterType="String" resultMap="bidSelectOne">
		SELECT 
			auction_goods.auction_goods_no
			,bid.bid_no
			,bid.user_id
			,bid.auction_goods_no
			,bid.bid_price
			,bid.bid_date
		FROM 
			bid 
		INNER JOIN
			auction_goods  
		ON 
			bid.auction_goods_no =  auction_goods.auction_goods_no
		WHERE
			auction_goods.auction_goods_no = #{auctionGoodsNo}
		ORDER BY bid_price DESC
		LIMIT 0,1;
	</select>	
	
	<update id="auctionGoodsHit" parameterType="String">
		UPDATE 
			auction_goods 
		SET 
			auction_goods_hits = auction_goods_hits + 1 
	     WHERE 
			auction_goods_no = #{auctionGoodsNo}
	</update>
	
	<update id="auctionGoodsUpdate" parameterType="String">
		UPDATE 
			auction_goods 
		SET 
			auction_state_no = '입찰중'
			,auction_goods_bid_start_date = now()	
			,auction_goods_bid_end_date = date_add(now(),interval+3 day) 
		WHERE 
			auction_goods_no =  #{auctionGoodsNo};
	</update>
	
	<update id="auctionGoodsUpdatePay" parameterType="Integer">
		UPDATE 
			auction_goods 
		SET 
			auction_state_no = '경매 종료'
			,auction_goods_bid_end_date = null
		WHERE 
			auction_goods_no =  #{auctionGoodsNo};
	</update>
	
	<update id="auctionGoodsUpdateState" parameterType="String">
		UPDATE 
			auction_goods 
		SET 
			auction_state_no = '입찰 종료'
		WHERE 
			auction_goods_no =  #{auctionGoodsNo};
	</update>
	
	<update id="auctionGoodsFileNoUpdate"
			parameterType="com.synergy.auction.auction.goods.service.AuctionGoodsDto" >
		UPDATE 
			auction_goods
		SET 
			auction_goods_file_no=#{auctionGoodsFileNo}
		WHERE 
			auction_goods_no=#{auctionGoodsNo}
	</update>
</mapper>