<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.synergy.auction.cash.service.CashRecordMapper">
	
	<resultMap type="com.synergy.auction.cash.service.CashRecordDto" id="resultCashRecord"> 
 		<result column="cash_record_no" property="cashRecordNo"/>		 	 
 		<result column="cash_category" property="cashCategory"/>		 	 
 		<result column="cash_record_change" property="cashRecordChange"/>		 	 
 		<result column="cash_record_change_date" property="cashRecordChangeDate"/>		 	 
 		<result column="cash_record_total" property="cashRecordTotal"/>		 	 
	 		<collection property="payDto" ofType="com.synergy.auction.pay.service.PayDto">	 
	 			<result column="pay_no" property="payNo"/> 
	 			<result column="user_id" property="userId"/> 
	 			<result column="user_id2" property="userId2"/> 
	 			<result column="pay_state" property="payState"/> 
	 			<result column="cash_record_no" property="cashRecordNo"/>
		 		<collection property="successfulBid" ofType="com.synergy.auction.auction.goods.service.SuccessfulBidDto">	 
		 			<result column="successful_bid_no" property="successfulBidNo"/> 
		 			<collection property="auctionGoods" ofType="com.synergy.auction.auction.goods.service.AuctionGoodsDto">	 
						<result column="auction_goods_no" property="auctionGoodsNo"/> 
						<result column="auction_goods_title" property="auctionGoodsTitle"/> 
						<result column="donation_plan_no" property="donationPlanNo"/> 
					</collection>			
		 		</collection>			 
	 		</collection>			 
 	</resultMap>
	
	<insert id="cashRecordTotalInsert"
			parameterType="String">
		INSERT INTO cash_record(
			user_id
			,cash_record_total
			,cash_record_change_date
		) VALUES (
			#{userId}
			,0
			,now()
		)
	</insert>
	<insert id="cashRecordInsert"
			parameterType="com.synergy.auction.cash.service.CashRecordDto">
		INSERT INTO cash_record(
			user_id
			,cash_category
			,cash_record_change
			,cash_record_change_date
		)VALUES (
			#{userId}
			,'충전'
			,#{cashRecordChange}
			,now()
		)
	</insert>
	
	<insert id="cashRecordInsertBuy"
			parameterType="java.util.Map">
			<selectKey resultType="Integer" 
						keyProperty="cashRecordNo"  
						order="AFTER"> 
			SELECT LAST_INSERT_ID() 
			</selectKey> 
		INSERT INTO cash_record(
			user_id
			,cash_category
			,cash_record_change
			,cash_record_change_date
			,cash_record_total
		)VALUES (
			#{userId}
			,#{cashCategory}
			,#{successfulBid}
			,now()
			,#{cashRecordChange}
		)
	</insert>
	
	<select id="cashRecordTotalSelect" 
			parameterType="String" 
			resultType="Integer">
		SELECT cash_record_total 
		FROM cash_record 
		WHERE user_id = #{userId} 
		ORDER BY cash_record_change_date DESC 
		LIMIT 1
	</select>
	
	<update id="cashRecordTotalUpdate"
			parameterType="com.synergy.auction.cash.service.CashRecordDto">
		UPDATE cash_record SET
			cash_record_total = #{cashRecordChange}+#{cashRecordTotal}
		WHERE user_id = #{userId} AND cash_record_total IS NULL;
	</update>
	
	<update id="cashRecordUpdate"
			parameterType="com.synergy.auction.cash.service.CashRecordDto">
		UPDATE cash_record SET
			cash_category = '기부'
		WHERE cash_record_no = #{cashRecordNo}
	</update>
	
	<select id="cashRecordSelect" 
			parameterType="java.util.Map" 
			resultType="com.synergy.auction.cash.service.CashRecordDto">	
		SELECT
			cash_record_no AS cashRecordNo 
			,cash_record_change AS cashRecordChange
			,cash_record_change_date AS cashRecordChangeDate
			,cash_record_total AS cashRecordTotal 
			,cash_category AS cashCategory
		FROM cash_record 
		WHERE user_id = #{userId}
		ORDER BY cash_record_change_date DESC
		LIMIT #{beginRow},10;
	</select>
	
	<select id="totalCashRecord"  
			resultType="Integer">
		SELECT COUNT(*) FROM cash_record WHERE user_id = #{userId}
	</select>
	<select id="totalCashRecordAdmin"  
			resultType="Integer">
		SELECT COUNT(*) FROM cash_record WHERE cash_category='기부'
	</select>
	
	<insert id="accountInsert"
			parameterType="com.synergy.auction.cash.service.AccountDto">
		INSERT INTO account (
			user_id
			,account_method
			,account_bank_name
			,account_deposit_name
		)VALUES (
			#{userId}
			, '무통장입금'
			,#{accountBankName}
			,#{accountDepositName}
		)
	</insert>
	
	<select id="totalCashRecordSelectOne"  
			parameterType="String"
			resultType="Integer">
		SELECT cash_record_total 
		FROM cash_record 
		WHERE user_id=#{userId}
		ORDER BY cash_record_change_date DESC 
		LIMIT 1
	</select>	
	
	<select id="cashSelectGoods"  
			resultMap="resultCashRecord">
 		SELECT 
 			cash_record.cash_category
 			,cash_record.cash_record_no
 			,auction_goods.auction_goods_no
 			,auction_goods.auction_goods_title
 			,auction_goods.donation_plan_no
 			,cash_record.cash_record_change
 			,cash_record.cash_record_total
 			,cash_record.cash_record_change_date
 			,pay.cash_record_no
 			,pay.user_id2
 			,pay.pay_state
 			,pay.pay_no
		FROM 
			cash_record
		JOIN 
			pay
		ON 
			cash_record.cash_record_no = pay.cash_record_no
		JOIN
			successful_bid
		ON
			pay.successful_bid_no = successful_bid.successful_bid_no
		JOIN 
			auction_goods
		ON 
			successful_bid.auction_goods_no = auction_goods.auction_goods_no
		
	</select>
</mapper>  