<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.synergy.auction.cash.service.CashRecordMapper">
	<insert id="cashRecordTotalInsert"
			parameterType="String">
		INSERT INTO cash_record(
			user_id
			,cash_record_total
			,cash_record_change_date
		) VALUES (
			#{userId}
			,0
			,now()
		)
	</insert>
	<insert id="cashRecordInsert"
			parameterType="com.synergy.auction.cash.service.CashRecordDto">
		INSERT INTO cash_record(
			user_id
			,cash_category_no
			,cash_record_change
			,cash_record_change_date
		)VALUES (
			#{userId}
			,1
			,#{cashRecordChange}
			,now()
		)
	</insert>
	<select id="cashRecordTotalSelect" 
			parameterType="String" 
			resultType="Integer">
		SELECT cash_record_total 
		FROM cash_record 
		WHERE user_id = #{userId} 
		ORDER BY cash_record_change_date DESC 
		LIMIT 1
	</select>
	<update id="cashRecordTotalUpdate"
			parameterType="com.synergy.auction.cash.service.CashRecordDto">
		UPDATE cash_record SET
			cash_record_total = #{cashRecordChange}+#{cashRecordTotal}
		WHERE user_id = #{userId} AND cash_record_total IS NULL;
	</update>
	<select id="cashRecordSelect" 
			parameterType="java.util.Map" 
			resultType="com.synergy.auction.cash.service.CashRecordDto">	
		SELECT 
			cash_record_change AS cashRecordChange
			,cash_record_change_date AS cashRecordChangeDate
			,cash_record_total AS cashRecordTotal 
		FROM cash_record 
		WHERE user_id = #{userId}
		ORDER BY cash_record_change_date ASC
		LIMIT #{beginRow},10;
	</select>
	<select id="totalCashRecord"  
			resultType="Integer">
		SELECT COUNT(*) FROM cash_record
	</select>
	<insert id="accountInsert"
			parameterType="com.synergy.auction.cash.service.AccountDto">
		INSERT INTO account (
			user_id
			,account_method
			,account_bank_name
			,account_deposit_name
		)VALUES (
			#{userId}
			, '무통장입금'
			,#{accountBankName}
			,#{accountDepositName}
		)
	</insert>						 
</mapper>  