<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.synergy.auction.donator.service.DonatorMapper">
	<insert id="donatorInsert"
			parameterType="com.synergy.auction.donator.service.DonatorDto">
		INSERT INTO donator(
			donator_id
			,donator_pw
			,donator_business_no
			,donator_name
			,donator_telephone
			,donator_homepage
			,donator_join_date
		) VALUES (
			#{donatorId}
			,#{donatorPw}
			,#{donatorBusinessNo}
			,#{donatorName}
			,#{donatorTelephone}
			,#{donatorHomepage}
			,now()
		)
	</insert>
</mapper>