<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.synergy.auction.donation.plan.service.DonationPlanMapper">
 	<resultMap type="com.synergy.auction.donation.plan.service.DonationPlanDto"  
 				id="resultDonationPlanDetail"> 
 		<result column="donation_plan_title"  
 				property="donationPlanTitle"/>		 	 
 		<collection property="file"  
 					ofType="com.synergy.auction.file.service.FileDto">	 
 			<result column="file_name"  
 					property="fileName"/> 
 			<result column="file_ext"  
 					property="fileExt"/> 
 		</collection>			 
 	</resultMap>	 
 	<insert id="donationPlanInsert"
			parameterType="com.synergy.auction.donation.plan.service.DonationPlanDto">
		INSERT INTO donation_plan (
			donator_id
			, donation_plan_title
			, donation_plan_content
			, donation_plan_purpose
			, donation_plan_use_term
			, donation_plan_goal_price
			, donation_plan_date
		) VALUES (
			#{donatorId}
			,#{donationPlanTitle}
			,#{donationPlanContent}
			,#{donationPlanPurpose}
			,#{donationPlanUseTerm}
			,#{donationPlanGoalPrice}
			,now()
		)
	</insert>
	<select id="donationPlanNoSelectOne" 
			parameterType="String" 
			resultType="Integer">
		SELECT donation_plan_no 
		FROM donation_plan 
		WHERE donator_id=#{donatorId} 
		ORDER BY donation_plan_date DESC
		LIMIT 1	
	</select>
	<update id="donationPlanFileNoUpdate"
			parameterType="com.synergy.auction.donation.plan.service.DonationPlanDto" >
		UPDATE donation_plan
		SET donation_plan_file_no=#{donationPlanFileNo}
		WHERE donation_plan_no=#{donationPlanNo}
	</update>
	<update id="donationPlanImageNoUpdate"
			parameterType="com.synergy.auction.donation.plan.service.DonationPlanDto" >
		UPDATE donation_plan
		SET donation_plan_image_no=#{donationPlanImageNo}
		WHERE donation_plan_no=#{donationPlanNo}
	</update>
	<select id="selectDonationPlanDetail"  
 			resultMap="resultDonationPlanDetail"> 
 		SELECT 
 			dp.donation_plan_title
 			,f.file_name
 			,f.file_ext
		FROM donation_plan AS dp
		JOIN file AS f ON dp.donation_plan_no = f.file_table_no
		WHERE f.file_ext IN('jpg','png','jpeg')
		ORDER BY f.file_date DESC 
 	</select> 
 </mapper>  
  