<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.synergy.auction.donation.plan.service.DonationPlanMapper">
 	<resultMap type="com.synergy.auction.donation.plan.service.DonationPlanDto"  
 				id="resultDonationPlan"> 
 		<result column="donation_plan_title"  
 				property="donationPlanTitle"/>		 	 
 		<result column="donation_plan_no"  
 				property="donationPlanNo"/>		 	 
 		<result column="donation_plan_date"  
 				property="donationPlanDate"/>		 	 
 		<collection property="donatorDto"  
 					ofType="com.synergy.auction.donator.service.DonatorDto">	 
 			<result column="donator_name"  
 					property="donatorName"/> 
 		</collection>			 
 	</resultMap>
 	<resultMap type="com.synergy.auction.donation.plan.service.DonationPlanDto"  
 				id="resultDonation"> 
 		<result column="donation_plan_no"  
 				property="donationPlanNo"/>
 		<result column="donation_plan_title"  
 				property="donationPlanTitle"/>		 	 
 		<collection property="file"  
 					ofType="com.synergy.auction.file.service.FileDto">	 
 			<result column="file_name"  
 					property="fileName"/> 
 			<result column="file_ext"  
 					property="fileExt"/> 
 		</collection>			 
 	</resultMap>
 	<resultMap type="com.synergy.auction.donation.plan.service.DonationPlanDto"  
 				id="resultDonationPlanDetail"> 
 		<result column="donation_plan_no"  
 				property="donationPlanNo"/>
 		<result column="donation_plan_title"  
 				property="donationPlanTitle"/>		 	 
 		<result column="donation_plan_content"  
 				property="donationPlanContent"/>		 	 
 		<collection property="file"  
 					ofType="com.synergy.auction.file.service.FileDto">	 
 			<result column="file_name"  
 					property="fileName"/> 
 			<result column="file_ext"  
 					property="fileExt"/> 
 		</collection>			 
 	</resultMap>	 
 	<insert id="donationPlanInsert"
			parameterType="com.synergy.auction.donation.plan.service.DonationPlanDto">
		INSERT INTO donation_plan (
			donator_id
			, donation_plan_title
			, donation_plan_content
			, donation_plan_purpose
			, donation_plan_use_term
			, donation_plan_goal_price
			, donation_plan_date
		) VALUES (
			#{donatorId}
			,#{donationPlanTitle}
			,#{donationPlanContent}
			,#{donationPlanPurpose}
			,#{donationPlanUseTerm}
			,#{donationPlanGoalPrice}
			,now()
		)
	</insert>
	<select id="donationPlanNoSelectOne" 
			parameterType="String" 
			resultType="Integer">
		SELECT donation_plan_no 
		FROM donation_plan 
		WHERE donator_id=#{donatorId} 
		ORDER BY donation_plan_date DESC
		LIMIT 1	
	</select>
	<update id="donationPlanFileNoUpdate"
			parameterType="com.synergy.auction.donation.plan.service.DonationPlanDto" >
		UPDATE donation_plan
		SET donation_plan_file_no=#{donationPlanFileNo}
		WHERE donation_plan_no=#{donationPlanNo}
	</update>
	<update id="donationPlanImageNoUpdate"
			parameterType="com.synergy.auction.donation.plan.service.DonationPlanDto" >
		UPDATE donation_plan
		SET donation_plan_image_no=#{donationPlanImageNo}
		WHERE donation_plan_no=#{donationPlanNo}
	</update>
	<select id="donationSelect"  
 			resultMap="resultDonation"> 
 		SELECT 
 			dp.donation_plan_no
 			,dp.donation_plan_title
 			,f.file_name
 			,f.file_ext
		FROM donation_plan AS dp
		JOIN file AS f ON dp.donation_plan_no = f.file_table_no
		WHERE f.file_ext IN('jpg','png','jpeg')
		ORDER BY f.file_date DESC 
 	</select>
 	<select id="selectDonationPlanDetail"  
 			parameterType="Integer"
 			resultMap="resultDonationPlanDetail"> 
 		SELECT 
 			dp.donation_plan_no
 			,dp.donation_plan_title
 			,dp.donation_plan_content
 			,f.file_name
 			,f.file_ext
		FROM donation_plan AS dp
		JOIN file AS f ON dp.donation_plan_no = f.file_table_no
		WHERE f.file_ext IN('jpg','png','jpeg')
		AND dp.donation_plan_no=#{donationPlanNo}
 	</select>
	<select id="donationPlanSelect"  
			resultMap="resultDonationPlan">
		SELECT 
			d.donator_name
			,dp.donation_plan_title
			,dp.donation_plan_no
			,LEFT(dp.donation_plan_date,10) AS donation_plan_date
		FROM donator AS d
		JOIN donation_plan AS dp 
		ON d.donator_id=dp.donator_id
	</select>
	<select id="donationPlanDetailSelect"  
			parameterType="Integer"
			resultType="com.synergy.auction.donation.plan.service.DonationPlanDto">
		SELECT 
			donator_id AS donatorId
			,donation_plan_file_no AS donationPlanFileNo
			,donation_plan_purpose AS donationPlanPurpose
			,donation_plan_use_term AS donationPlanUseTerm
			,donation_plan_goal_price AS donationPlanGoalPrice
			,donation_plan_date AS donationPlanDate
		FROM donation_plan
		WHERE donation_plan_no=#{donationPlanNo}
	</select>
	<select id="donationPlanNoSelect"  
			parameterType="String"
			resultType="com.synergy.auction.donation.plan.service.DonationPlanDto">
		SELECT donation_plan_no AS donationPlanNo
		FROM donation_plan 
		WHERE donator_id=#{donatorId}		
 	</select>
 </mapper>  
  