<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.synergy.auction.file.service.FileMapper">
	<insert id="fileInsert"
			parameterType="com.synergy.auction.file.service.FileDto">
		INSERT INTO file (
			file_table_no
			,file_table_name
			,file_name
			,file_type
			,file_ext
			,file_size
			,file_date
		)VALUES (
			#{fileTableNo}
			,'donation_plan'
			,#{fileName}
			,#{fileType}
			,#{fileExt}
			,#{fileSize}
			,now()
		)
	</insert>
	<insert id="auctionFileInsert"
			parameterType="com.synergy.auction.file.service.FileDto">
		INSERT INTO file (
			file_table_no
			,file_table_name
			,file_name
			,file_type
			,file_ext
			,file_size
			,file_date
		)VALUES (
			#{fileTableNo}
			,'auction_goods'
			,#{fileName}
			,#{fileType}
			,#{fileExt}
			,#{fileSize}
			,now()
		)
	</insert>
	<insert id="noticeFileInsert"
			parameterType="com.synergy.auction.file.service.FileDto">
		INSERT INTO file (
			file_table_no
			,file_table_name
			,file_name
			,file_type
			,file_ext
			,file_size
			,file_date
		)VALUES (
			#{fileTableNo}
			,'notice'
			,#{fileName}
			,#{fileType}
			,#{fileExt}
			,#{fileSize}
			,now()
		)
	</insert>
	<select id="fileNoSelect"
			parameterType="Integer"
			resultType="Integer">
		SELECT file_no 
		FROM file 
		WHERE file_table_no=#{donationPlanNo} 
		AND file_table_name='donation_plan' 
		AND file_ext IN('hwp','txt','rtf','hwp','asv','pdf','doc','ppt','mdb','htm')
	</select>
	<select id="ImageFileNoSelect"
			parameterType="Integer"
			resultType="Integer">
		SELECT file_no 
		FROM file 
		WHERE file_table_no=#{donationPlanNo}
		AND file_table_name='donation_plan' 
		AND file_ext IN('jpg','png','jpeg')	
	</select>	
	<select id="auctionFileNoSelect"
			parameterType="Integer"
			resultType="Integer">
		SELECT file_no 
		FROM file 
		WHERE file_table_no=#{auctionGoodsNo}
		AND file_table_name='auction_goods' 
		AND file_ext IN('jpg','png','jpeg')	
	</select>
	<select id="noticeFileNoSelect"
			parameterType="Integer"
			resultType="Integer">
		SELECT file_no 
		FROM file 
		WHERE file_table_no=#{noticeNo}
		AND file_table_name='notice' 
		AND file_ext IN('jpg','png','jpeg')	
	</select>
	<select id="donationPlanFileSelect"
			parameterType="Integer"
			resultType="com.synergy.auction.file.service.FileDto">
		SELECT 
			file_name AS fileName
			,file_ext AS fileExt
		FROM file 
		WHERE file_no=#{fileNo}
	</select>
	<update id="fileNameUpdate"
			parameterType="Integer">
		UPDATE file
		SET file_table_name='donation_spend_report'
		WHERE file_table_no=#{fileTableNo}		
	</update>
	<select id="donationSpendReportFileNoSelect"
			parameterType="Integer"
			resultType="Integer">
		SELECT file_no 
		FROM file 
		WHERE file_table_no=#{donationSpendReportNo} 
		ORDER BY file_date DESC 
		LIMIT 1
	</select>
	<delete id="fileDelete"
			parameterType="Integer">
		DELETE FROM file 
		WHERE file_table_no=#{fileTableNo}		
	</delete>		
</mapper>			  