<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.synergy.auction.file.service.FileMapper">
	<insert id="fileInsert"
			parameterType="com.synergy.auction.file.service.FileDto">
		INSERT INTO file (
			file_table_no
			,file_table_name
			,file_name
			,file_type
			,file_ext
			,file_size
			,file_date
		)VALUES (
			#{fileTableNo}
			,'donation_plan'
			,#{fileName}
			,#{fileType}
			,#{fileExt}
			,#{fileSize}
			,now()
		)
	</insert>
	<select id="fileNoSelect"
			parameterType="Integer"
			resultType="Integer">
		SELECT file_no 
		FROM file 
		WHERE file_table_no=#{donationPlanNo} 
		AND file_table_name='donation_plan' 
		AND file_ext IN('hwp','txt','rtf','hwp','asv','pdf','doc','ppt','mdb','htm')
	</select>
	<select id="ImageFileNoSelect"
			parameterType="Integer"
			resultType="Integer">
		SELECT file_no 
		FROM file 
		WHERE file_table_no=#{donationPlanNo}
		AND file_table_name='donation_plan' 
		AND file_ext IN('jpg','png','jpeg')	
	</select>
	<select id="ImageFileSelect"
			resultType="com.synergy.auction.file.service.FileDto">
		SELECT 
			file_name AS fileName
			,file_ext AS fileExt
		FROM file
		WHERE file_ext IN('jpg','png','jpeg')
		ORDER BY file_date DESC
	</select>		
</mapper>			  