<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.synergy.auction.file.service.FileMapper">
	<insert id="fileInsert"
			parameterType="com.synergy.auction.file.service.FileDto">
		INSERT INTO file (
			file_table_name
			,file_name
			,file_type
			,file_ext
			,file_size
			,file_date
		)VALUES (
			'donation_plan'
			,#{fileName}
			,#{fileType}
			,#{fileExt}
			,#{fileSize}
			,now()
		)
	</insert>
</mapper>			  