<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.synergy.auction.user.service.UserMapper">
	<insert id="userInsert"
			parameterType="com.synergy.auction.user.service.UserDto">
		INSERT INTO user(
			user_id
			,user_pw
			,user_name
			,user_phone
			,user_email
			,user_nick
			,user_joindate
		) VALUES (
			#{userId}
			,#{userPw}
			,#{userName}
			,#{userPhone}
			,#{userEmail}
			,#{userNick}
			,now()
		)
	</insert>
	
	<select id="userSelectOne"
			parameterType="com.synergy.auction.user.service.UserDto"
			resultType="com.synergy.auction.user.service.UserDto">
		SELECT 
			user_no
			,user_id
		FROM 
			user 
		WHERE 
			user_id=#{userId}
	</select>
	
	<insert id="cashRecordInsert"
			parameterType="com.synergy.auction.user.service.CashRecordDto">
		INSERT INTO cash_record(
			user_id
			,cashrecord_total
		) VALUES (
			#{userId}
			,80
		)
	</insert>


</mapper>